<div class="text-center">
  <img style="align-self: center" src="assets/navbar.png" width="150px" height="150px"> <img style="align-self: center" src="assets/whiskey.png" width="130px" height="130px">
</div>

<div class="card d-flex list-group-horizontal justify-content-center" style="margin: 0px 100px 0px 100px">
  <a href="https://github.com/Unk3wn/AdvancedSoftwareEngineering" class="text-center list-group-item list-group-item-action list-group-item-danger flex-column align-items-start">
    <div class="text-center" style="font-size: xx-large">
      List of Links for the project "whiskey o' clock"
    </div>
    <small>by <a href="https://github.com/Unk3wn">Nico Holzhäuser | TINF19B4</a></small>
  </a>

</div>
<br>

<div class="card d-flex list-group-horizontal justify-content-center" style="margin: 0px 100px 0px 100px">
  <a class="text-center list-group-item list-group-item-action flex-column align-items-start active" style="font-size: x-large;font-weight: bold">
    Organisational Matters
  </a>
</div>
<div class="card d-flex list-group-horizontal justify-content-center" style="margin: 0px 100px 0px 100px">
  <a href="https://github.com/Unk3wn/AdvancedSoftwareEngineering" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">GIT-Repository</h5>
    </div>
    <p class="mb-1">GIT-Repository for this Project</p>
  </a>
  <a href="https://github.com/Unk3wn/AdvancedSoftwareEngineering" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Proposal for this Project</h5>
    </div>
    <p class="mb-1">Proposal for this Project</p>
  </a>
  <a href="https://github.com/Unk3wn/AdvancedSoftwareEngineering" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Technical Documentation</h5>
    </div>
    <p class="mb-1">Technical Documentation for this Project</p>
  </a>
</div>

<br>

<div class="card d-flex list-group-horizontal justify-content-center" style="margin: 0px 100px 0px 100px">
  <a class="text-center list-group-item list-group-item-action flex-column align-items-start active" style="font-size: x-large;font-weight: bold">
    Backend
  </a>
</div>
<div class="card d-flex list-group-horizontal justify-content-center" style="margin: 0px 100px 0px 100px">
  <a href="http://localhost:8080/h2-ui/login.jsp" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">H2-Console</h5>
    </div>
    <p class="mb-1">Link to connect to the local H2 Database</p>
    <small>Login Credentials are defined in the application.properties</small>
  </a>
  <a href="http://localhost:8080" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Backend Status</h5>
    </div>
    <p class="mb-1">Link to see the Status of the Backend</p>
    <small>If accessible the Backend is normally online</small>
  </a>
  <a href="http://localhost:8080/swagger-ui/index.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Swagger API Documentation</h5>
    </div>
    <p class="mb-1">Swagger Documentation of the created API in the Spring Backend</p>
  </a>
</div>

<br>

<div class="card d-flex list-group-horizontal justify-content-center" style="margin: 0px 100px 0px 100px">
  <a class="text-center list-group-item list-group-item-action flex-column align-items-start active" style="font-size: x-large;font-weight: bold">
    Frontend
  </a>
</div>
<div class="card d-flex list-group-horizontal justify-content-center" style="margin: 0px 100px 0px 100px">
  <a href="http://localhost:4200/country/index" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Country</h5>
    </div>
    <p class="mb-1">Link to see all Country's in an Angular Component</p>
    <small>Here could be all Basic CRUD Operations be added</small>
  </a>
  <a href="http://localhost:4200/manufacturer/index" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Manufacturer</h5>
    </div>
    <p class="mb-1">Link to see all Manufacturer's in an Angular Component</p>
    <small>Here could be all Basic CRUD Operations be added</small>
  </a>
  <a href="http://localhost:4200/bottle/index" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Bottle</h5>
    </div>
    <p class="mb-1">Link to see all Bottle's in an Angular Component</p>
    <small>All CRUD Operations are developed!</small>
  </a>
  <a href="http://localhost:4200/series/index" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Series</h5>
    </div>
    <p class="mb-1">Link to see all Series's in an Angular Component</p>
    <small>Here could be all Basic CRUD Operations be added</small>
  </a>
</div>
