<div class="container">
  <h1>Create New Post</h1>

  <br>

  <a href="#" routerLink="/series/index" class="btn btn-primary">Back</a>

  <br>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="label">Title:</label>
      <input
        formControlName="label"
        id="label"
        type="text"
        class="form-control">
      <div *ngIf="f['label'].touched && f['label'].invalid" class="alert alert-danger">
        <div *ngIf="f['label'].errors && f['label'].errors['required']">Title is required.</div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
