<div class="container" *ngIf="bottle != undefined && manufacturers != undefined && serieses != undefined">
  <h1>Edit á Bottle</h1>

  <br>

  <a href="#" routerLink="/bottle/index" class="btn btn-primary">Back</a>

  <br><br>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label for="label">Label:</label>
    <input
      formControlName="label"
      id="label"
      type="text"
      [(ngModel)]="bottle.label"
      class="form-control">
    <br>

    <label for="price">Price:</label>
    <input
      formControlName="price"
      id="price"
      type="text"
      [(ngModel)]="bottle.price"
      class="form-control">
    <div *ngIf="f['price'].touched && f['price'].invalid" class="alert alert-danger">
      <div *ngIf="f['price'].errors && f['price'].errors['required']">Price is required.</div>
    </div>

    <br>

    <label for="label">Year Of Manufacture:</label>
    <input
      formControlName="yearOfManufacture"
      id="yearOfManufacture"
      type="text"
      [(ngModel)]="bottle.yearOfManufacture"
      class="form-control">
    <div *ngIf="f['yearOfManufacture'].touched && f['yearOfManufacture'].invalid" class="alert alert-danger">
      <div *ngIf="f['yearOfManufacture'].errors && f['yearOfManufacture'].errors['required']">Year Of Manufacture is required.</div>
    </div>

    <br>

    <label for="manufacturer">Manufacturer:</label>
    <div>
      <select formControlName="manufacturer" id="manufacturer" [(ngModel)]="bottle.manufacturer">
        <option [ngValue]="null" disabled>Select Manufacturer</option>
        <option [ngValue]="null">No Manufacturer</option>
        <option
          *ngFor="let manufacturer of manufacturers"
          [ngValue]="manufacturer"
        >{{manufacturer.name}}</option>
      </select>
    </div>

    <br>

    <hr>
    <label for="forSale">For Sale : &nbsp;</label>
    <input
      formControlName="forSale"
      id="forSale"
      [(ngModel)]="bottle.forSale"
      type="checkbox">
    <br>

    <label for="favorite">Favorite : &nbsp;</label>
    <input
      formControlName="favorite"
      id="favorite"
      [(ngModel)]="bottle.favorite"
      type="checkbox">

    <br>

    <label for="unsaleable">Not for Sale : &nbsp;</label>
    <input
      formControlName="unsaleable"
      id="unsaleable"
      [(ngModel)]="bottle.unsaleable"
      type="checkbox">
    <br>

    <hr>

    <label for="series">Series:</label> <br>
    <div>
      <select formControlName="series" id="series" [(ngModel)]="bottle.series">
        <option [ngValue]="null" disabled>Select Series</option>
        <option [ngValue]="null">No Series</option>
        <option *ngFor="let series of serieses"
                [ngValue]="series"
        >{{series.label}}</option>
      </select>
    </div>

    <br>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
